@font-face {
    font-family: "Outfit-ExtraBold";
    src: url(/static/fonts/Outfit/Outfit-ExtraBold.ttf);
}

@font-face {
    font-family: "Outfit-Medium";
    src: url(/static/fonts/Outfit/Outfit-Medium.ttf);
}

@font-face {
    font-family: "Outfit-ExtraLight";
    src: url(/static/fonts/Outfit/Outfit-ExtraLight.ttf);
}

@font-face {
    font-family: "Noto-Sans-ExtraBold";
    src: url(/static/fonts/NotoSans/NotoSans-ExtraBold.ttf);
}

@font-face {
    font-family: "Noto-Sans-Medium";
    src: url(/static/fonts/NotoSans/NotoSans-Medium.ttf);
}

@font-face {
    font-family: "Noto-Sans-ExtraLight";
    src: url(/static/fonts/NotoSans/NotoSans-ExtraLight.ttf);
}

:root{
    font-size: 62.5%;
    --backcolor: rgb(26, 13, 0);
    --blockcolor: rgb(64, 32, 0);
    --highlight: #E9663D;
    --white: #FFFFFF;
    --picbg: #643400;
    --hrefhover: #FFBC1C;
    --opacityzero: rgba(0, 0, 0, 0);
}

body{
    background-color: var(--backcolor);
}

h2{
    font-size: 2rem;
    color: var(--white);
    font-family: "Outfit-Medium";
    margin: 0;
}

p{
    color: var(--white);
    font-family: "Outfit-ExtraLight";
    font-size: 1.4rem;
    width: 90%;
    margin: 0;
}

.textContainer{
    position: relative;
    top: 4rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.enTxt{
    position: absolute;
    opacity: 1;
    z-index: 2;
}

.ruTxt{
    position: absolute;
    z-index: 2;
    font-family: "Noto-Sans-ExtraLight";
    opacity: 0;
    z-index: 1;
}
.ruTxtH2{
    position: absolute;
    font-family: "Noto-Sans-Medium";
    opacity: 0;
    z-index: 1;
}
.enTxtH2{
    position: absolute;
    font-family: "Noto-Sans-Medium";
    opacity: 1;
    z-index: 2;
}

.title>.ruTxtH1{
    position: absolute;
    font-family: "Noto-Sans-ExtraBold";
    opacity: 0;
    z-index: 1;
}

.title>.enTxtH1{
    position: absolute;
    opacity: 1;
    z-index: 2;
}

#noDisp{
    opacity: 0;
    transition: opacity 0.4s ease;
    z-index: 0;
    visibility: hidden;
}

#disp{
    opacity: 1;
    transition: opacity 0.4s ease;
    z-index: 2;
    visibility: visible;
}

.titleContainer{
    position: relative;
}

/* HEADER */

header{
    background-color: var(--blockcolor);
    height: 40rem;
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    text-align: center;
    min-width: 32rem;
}

header>nav>ul{
    margin: 0;
    display: none;
    list-style: none;
    justify-content: space-between;
    padding: 0;
    gap: 1rem;
}

header>nav{
    width: 100%;
    height: 4rem;
    display: flex;
    border-radius: 4rem;
    justify-content: space-between;
    padding-top: 1.5rem;
    position: fixed;
    z-index: 4;
    background-color: var(--blockcolor);
    position: fixed;
    margin-top: 0.5rem;
}
header>nav>.changeLang{
    background-color: var(--opacityzero);
    border: none;
    padding: 0;
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-left: 15px;
    bottom: 7.5px;
}
header>nav>button>.changeLangBtn{
    width: 3rem;
    height: 3rem;
    position: absolute;
}

header>nav>button>.changeLangBtnHover{
    position: absolute;
    opacity: 0;
    width: 3rem;
    height: 3rem;
}
header>nav>button:hover{
    cursor: pointer;
}

header>nav>button:hover .changeLangBtn{
    opacity: 0;
    transition: .3s;
}

header>nav>button:hover .changeLangBtnHover{
    opacity: 1;
    transition: .3s;
}

header>nav>button:active .changeLangBtn{
    opacity: 1;
    transition: .2s;
}
header>nav>button:active .changeLangBtnHover{
    opacity: 0;
    transition: .2s;
}

header>nav>.burgerMenu>span{
    width: 2.5rem;
    height: 0.2rem;
    background-color: var(--white);
    display: block;
    border-radius: 0.1rem;
}

header>nav>.burgerMenu{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    width: 2.5rem;
    height: fit-content;
    align-self: center;
    margin: 0 1.5rem 1.6rem 0;
    background-color: var(--opacityzero);
    border: none;
    padding: 0;
}

header>nav>.burgerMenu:hover span{
    background-color: var(--highlight);
    transition: .3s;
}

header>nav>.burgerMenu:hover{
    cursor: pointer;
}

header>nav>.burgerMenu:active span{
    background-color: var(--white);
    transition: .3s;
}

header>.meFr{
    width: 25.6rem;
    background-color: var(--picbg);
    border-radius: 100rem;
}

header>.title>h1{
    color: var(--white);
    font-size: 2.5rem;
    width: 32rem;
    margin-left: auto;
    margin-right: auto;
    font-family: "Outfit-ExtraBold";
    margin: 0;
}
header>.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem;
    height: 57.5px;
    padding-top: 7rem;
}


/* CONTACT SECTION */

.contactInformation{
    margin: 6rem auto 2rem auto;
    width: 90%;
    background-color: var(--blockcolor);
    border-radius: 1rem;
    height: 204.75px;
    max-width: 120rem;
    min-width: 32rem;
}

.contactInformation>.container{
    width: 90%;
    margin: 0 auto 0 auto;
    padding: 1.5rem 0 1.5rem 0;
    display: flex;
    flex-direction: column;
}

.contactInformation>.container>h2{
    margin-bottom: 2rem;
    margin-top: 0;
}

.contactInformation>.container>.textContainer{
    align-self: center;
    background-color: var(--picbg);
    width: 95%;
    padding: 1rem;
    border-radius: 1rem;
    height: 11rem;
    gap: 1.5rem;
}

.contactInformation>.container>.textContainer>p>a{
    color: var(--highlight);
    text-decoration: none;
}

.contactInformation>.container>.textContainer>p>a:hover{
    color: var(--hrefhover);
    transition: .3s;
}

.contactInformation>.container>.textContainer>p>a:active{
    color: var(--highlight);
    transition: .3s;
}

/* ABOUT SECTION */

.AboutMe{
    width: 90%;
    margin: 0 auto 2rem auto;
    background-color: var(--blockcolor);
    border-radius: 1rem;
    height: 243.75px;
    max-width: 120rem;
    min-width: 32rem;
}


.AboutMe>.container{
    width: 90%;
    margin: 0 auto 0 auto;
    padding: 1.5rem 0 1.5rem 0;
    display: flex;
    flex-direction: column;
    height: 213.75px;
}

.AboutMe>.container>.textContainer{
    align-self: center;
    background-color: var(--picbg);
    width: 95%;
    padding: 1rem;
    border-radius: 1rem;
    height: 150.75px;
}

.AboutMe>.container>h2{
    margin-bottom: 2rem;
    margin-top: 0;
}

/* SITE NAVIGATION SECTION */

.siteNavigation{
    width: 90%;
    margin: 0 auto 2rem auto;
    background-color: var(--blockcolor);
    border-radius: 1rem;
    height: 243.75px;
    max-width: 120rem;
    min-width: 32rem;
}


.siteNavigation>.container{
    width: 90%;
    margin: 0 auto 0 auto;
    padding: 1.5rem 0 1.5rem 0;
    display: flex;
    flex-direction: column;
    height: 213.75px;
}

.siteNavigation>.container>.textContainer{
    align-self: center;
    background-color: var(--picbg);
    width: 95%;
    padding: 1rem;
    border-radius: 1rem;
    height: 150.75px;
}

.siteNavigation>.container>h2{
    margin-bottom: 2rem;
    margin-top: 0;
}

.siteNavigation>.container>.textContainer>.ruTxt{
    margin: 0;
}

/* MY SETTUP SECTION */

.mySettup{
    width: 90%;
    margin: 0 auto 2rem auto;
    background-color: var(--blockcolor);
    border-radius: 1rem;
    height: 198px;
    max-width: 120rem;
    min-width: 32rem;
}


.mySettup>.container{
    width: 90%;
    margin: 0 auto 0 auto;
    padding: 1.5rem 0 1.5rem 0;
    display: flex;
    flex-direction: column;
    height: 168px;
}

.mySettup>.container>.textContainer{
    align-self: center;
    background-color: var(--picbg);
    width: 95%;
    padding: 1rem;
    border-radius: 1rem;
    height: 105px;
}

.mySettup>.container>h2{
    margin-bottom: 2rem;
    margin-top: 0;
}

.mySettup>.container>.textContainer>ul{
    list-style: none;
    padding: 0;
}
.mySettup>.container>.textContainer>ul>li{
    color: var(--white);
    padding-bottom: 0.4rem;
    font-family: "Outfit-ExtraLight";
    font-size: 1.4rem;
}

/* FOOTER */

footer{
    background-color: var(--blockcolor);
    height: 20rem;
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
    text-align: center;
    margin-top: 6rem;
    min-width: 32rem;
}


footer>.footerTitle{
    text-transform: uppercase;
    font-size: 5rem;
    color: var(--highlight);
    padding-top: 6rem;
    margin: 0;
    
}
footer>p{
    width: 100%;
}


/* TABLET */

@media (min-width: 740px) {
    p{
        font-size: 2rem;
    }
    h2{
        font-size: 2.5rem;
    }

    .textContainer{
        top: 0;
    }
    .container{
        height: 100%;
    }

    /* HEADER */
    header>.title>h1{
        font-size: 3rem;
        width: 40rem;
    }

    /* CONTACT SECTION */
    .contactInformation{
        margin-top: 8rem;
        margin-bottom: 6rem;
    }
    .contactInformation>.container{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0;
    }
    .contactInformation>.container>.textContainer{
        width: 40rem;
    }

    .contactInformation>.container>.titleContainer{
        margin-bottom: 5.7rem;
    }

    /* ABOUT SECTION */

    .AboutMe{
        margin-bottom: 6rem;
    }
    .AboutMe>.container{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        height: 100%;
    }
    .AboutMe>.container>.textContainer{
        width: 45rem;
    }
    .AboutMe>.container>.titleContainer{
        width: 20rem;
        margin-bottom: 3rem;
    }

    /* STIE NAVIGATION SECTION */

    .siteNavigation{
        margin-bottom: 6rem;
    }

    .siteNavigation>.container{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        height: 100%;
    }
    .siteNavigation>.container>.textContainer{
        width: 45rem;
    }
    .siteNavigation>.container>.titleContainer{
        width: 20rem;
        margin-bottom: 3rem;
    }

    /* MY PC SETTUP SECTION */

    .mySettup{
        margin-bottom: 8rem;
    }


    .mySettup>.container{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        height: 100%;
    }
    .mySettup>.container>.textContainer{
        width: 40rem;
    }
    .mySettup>.container>.titleContainer{
        width: 20rem;
        margin-bottom: 3rem;
    }
    .mySettup>.container>.textContainer>ul>li{
        font-size: 2rem;
    }

    .mySettup>.container>.textContainer>ul{
        width: 90%;
    }
}